{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pnr fetch</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <!-- train logo  -->
        <div class="train_logo">
            <picture>
                <source media="(max-width: 600px)" srcset="/land.png">
                <source media="(min-width: 601px) and (max-width: 1200px)" srcset="logo.png">
                <source media="(min-width: 1201px)" srcset="{% static 'images/land.png' %}">
                <img src="{% static 'land.png' %}" alt="Train Logo" class="logo" style="height: 100%;">
            </picture>
        </div>
         <div class="text_container">
            <div class="project_name">
                RAILOO CONNECT
             </div>
             <!-- options list -->
             <div class="list" >
                <li>
                    <ul>About</ul>
                    <ul>Services</ul>
                    <ul>help</ul>
                </li>
             </div>
         </div>
         <button class="header_button"  role="button">CONTACT US</button>
    </header>
    <div class="header-divider"></div>

        <!-- <span class="loader"></span> -->
        <!-- search bar -->
        <div class="form_containter">
            <form method="get" ac>
                {% csrf_token %}
                <input type="text" class="search_bar" name="pnr" placeholder="check pnr and conform your seat" style="margin-top: 5px;">
                <button type="submit" class="search_bar_button" >CHECK PNR</button>
             </form>
         </div>
    <!-- pnr fetch area -->
     
     <div class="outer-border">
        <div class="detail_heading">
            PNR STATUS
        </div>
        <div class="sub_heading">
            know your booking  status and plan accordingly
        </div>
        <div class="train_name">
           <div class="first_class" style="overflow: none;">
            {{data.train_name}}
           </div>
           <div class="first_class">
            PNR : {{data.pnr}}
           </div>
        </div>
        <div class="class_travelling">
            {{data.journey_compartment}} - {{data.quota}}
        </div>
        <div class="time_schedule">
            <div class="from_place">
                <div class="from_station">
                    {{data.full_name}} - {{data.Sstation}}
                </div>
                <div class="starting_date">
                    20:50, 11 Jan
                </div>

            </div>
            <div class="border_between"></div>
            <div class="time_travel">11h 05m</div>
            <div class="border_long"></div>
            <div class="from_place">
                <div class="from_station">
                    {{data.destiation_name}}
                </div>
                <div class="starting_date">
                    20:50, 11 Jan
                </div>
            </div>
        </div>
     </div>
     <div class="details-border" style="height: {{height}}vh;">
        <div class="chart_status">
            {{data.chart_status}}
        </div>
        <div class="details_row">
            <div class="name">NAME</div>
            <div class="booking_status">BOOKING STATUS</div>
            <div class="current_status">CURRENT STATUS</div>
        </div>
        {% for i in data.passengerlist %}
          <div class="passenger_data" style="height: 3vh;">
              <div class="pass_name">
                 PASSENGER {{i.passengerSerialNumber}}
              </div>
              <div class="pass_booking" style="margin-left: -5vw;">
                  {{i.booking_status}}
              </div>
              <div class="pass_current">
                  {{i.current_status}}
              </div>
          </div>
          <div class="divide" style="margin-top: 2vh; margin-bottom: 2vh;"></div>
        {% endfor %}
     </div>
     <div class="payment_border">
        <div class="first_sentace">Ticket Fare</div>
        <div class="second_line">700</div>
        <div class="third_line">travel reponsibly happy journey</div>
     </div>
</body>
<!-- <style>
    .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
</style> -->
</html>