<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home pag</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <!-- train logo  -->
        <div class="train_logo">
            <picture>
                <source media="(max-width: 600px)" srcset="/land.png">
                <source media="(min-width: 601px) and (max-width: 1200px)" srcset="logo.png">
                <source media="(min-width: 1201px)" srcset="">
                <img src="land.png" alt="Train Logo" class="logo" style="height: 100%;">
            </picture>
        </div>
         <div class="text_container">
            <div class="project_name">
                RAILOO CONNECT
             </div>
             <!-- options list -->
             <div class="list" >
                <li>
                    <ul>About</ul>
                    <ul>Services</ul>
                    <ul>help</ul>
                </li>
             </div>
         </div>
         <button class="header_button" role="button">CONTACT US</button>
    </header>
    <div class="header-divider"></div>

    <!-- pnr enquiry -->
    <div class="container">
        <div class="form_holder">
            <div class="pnr_checker">
                <form action="">
                    <input type="text" class="text_field" placeholder="Enter PNR Number">
                    <button type="submit" class="button-pnr">check status</button>
                </form>
            </div>
        </div>
        
    </div>
</body>
</html>